{
	"tabWidth": 4,
	"singleQuote": true,
	"semi": false,
	"useTabs": true,
	"trailingComma": "none",
	"printWidth": 120,
	"vueIndentScriptAndStyle": false,
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSpacing": true,
	"endOfLine": "auto"
}
