@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-sans: 'Comfortaa', sans-serif;

	--breakpoint-3xl: 1920px;

	--breakpoint-sm: 540px;

	--color-emerald-50: #f0fdfa;
	--color-emerald-100: #ccfbf1;
	--color-emerald-200: #99f6e4;
	--color-emerald-300: #5eead4;
	--color-emerald-400: #2dd4bf;
	--color-emerald-500: #14b8a6;
	--color-emerald-600: #0d9488;
	--color-emerald-700: #0f766e;
	--color-emerald-800: #115e59;
	--color-emerald-900: #134e4a;

	--color-zinc-50: #f8f8fa;
	--color-zinc-100: #eaeaef;
	--color-zinc-200: #cacbd5;
	--color-zinc-300: #9c9eb2;
	--color-zinc-400: #6e708c;
	--color-zinc-500: #51526c;
	--color-zinc-600: #3f4055;
	--color-zinc-700: #2f2f41;
	--color-zinc-800: #21212f;
	--color-zinc-900: #161621;
}

@layer base {
	:root {
		--ui-primary: var(--ui-color-primary-400);
		--ui-bg: oklch(0.967 0.001 286.375);
		--ui-bg-elevated: var(--ui-color-neutral-300);
	}

	.dark {
		--ui-primary: var(--ui-color-primary-500);
		--ui-bg: var(--ui-color-neutral-800);
		--ui-bg-elevated: var(--ui-color-neutral-700);
	}
	html,
	body {
		min-width: 320px;
	}
}

@layer utilities {
	.pointer-events-none {
		pointer-events: none;
	}
	.visibility-hidden {
		visibility: hidden;
	}

	.focus\:outline:focus {
		outline-width: 1px;
	}

	.l-wrapper {
		max-width: 1440px;
		margin: 0 auto;
		width: 100%;
		padding: 0 16px;
	}

	@media (width >= 40rem) {
		@media (hover: hover) {
			.sm\:hover\:opacity-100:hover {
				opacity: 100%;
			}
		}
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.5s ease;
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}
}
